package v1health

import (
	"context"
	"encoding/json"
	"log"
	"net/http"

	"{{ .repoBaseUrl }}/{{ .serviceName }}/internal/restapi/media"
	"github.com/go-chi/chi/v5"
	"github.com/go-http-utils/headers"
)

func Create(server chi.Router) {
	server.Get("/", healthGet)
}

func healthGet(w http.ResponseWriter, r *http.Request) {
	dto := HealthResultDto{Status: "up"}

	w.Header().Add(headers.ContentType, media.ContentTypeApplicationJson)
	w.WriteHeader(http.StatusOK)
	writeJson(r.Context(), w, dto)
}

func writeJson(ctx context.Context, w http.ResponseWriter, v interface{}) {
	encoder := json.NewEncoder(w)
	encoder.SetEscapeHTML(false)
	err := encoder.Encode(v)
	if err != nil {
		log.Println("ERROR: An error occurred", err)
	}
}
