package main

import (
	"fmt"
	"{{ .repoBaseUrl }}/{{ .serviceName }}/internal/repository/config"
	"{{ .repoBaseUrl }}/{{ .serviceName }}/internal/repository/logging/consolelogging/logformat"
	"{{ .repoBaseUrl }}/{{ .serviceName }}/web"
	"log"
)

func main() {
	err := config.LoadConfiguration("config.yaml")
	if err != nil {
		log.Fatal(logformat.Logformat("ERROR", "00000000", fmt.Sprintf("Error while loading configuration: %v", err)))
	}
	server := web.Create()
	web.Serve(server)
}
